@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  width: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #FFF;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.9s infinite alternate;
  color: #50c854;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-botton {
  border: 1px solid #FFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFF;
  background-color: transparent;
  transition: 0.8s;
}

.header-botton:hover {
  border: 1px solid #50c852;
  background-color: #50c852;
}

.header-logo {
  width: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 54px;
    font-size: 34px;
  }
  .header-logo img {
    width: 180px;
    margin-top: 2px;
  }
  .header-botton {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("/asstes/kelvy 3.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #FFF;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  width: 100%;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.botton-contato {
  padding: 14px 28px;
  color: #FFF;
  background-color: #56c850;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.botton-contato:hover {
  animation: scaleBotton 0.8s alternate infinite;
}

@keyframes scaleBotton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.sobre {
  width: 120%;
  padding-right: 20%;
  background-color: #06121e;
  overflow: hidden;
  color: #FFF;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.sobre-content img {
  width: 300px;
  text-align: center;
  margin-bottom: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #06121e;
  border-radius: 30px;
  box-shadow: 0px -1px 50px -4px rgba(0, 0, 0, 0.45);
}
.sobre-content .sobre-content img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.sobre-content div {
  flex: 1;
}

.sobre-descriçao h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.sobre-descriçao p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .sobre-content {
    flex-direction: column;
    padding-right: -80%;
  }
  h2 {
    flex-direction: column;
    padding-right: -80%;
  }
  img {
    max-width: 200px;
  }
  .sobre-descriçao h2 {
    margin-top: 80px;
    text-align: center;
  }
}
.serviços {
  background-color: #FFF;
  color: #222324;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.serviços-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.serviços-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 880px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
}
.haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.2;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #FFF;
  z-index: 99;
}

.haircut-info button {
  color: #FFF;
  background-color: rgba(255, 0, 0, 0.822);
  padding: 4px 8px;
  border-radius: 14px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 750px) {
  .haircuts {
    flex-direction: column;
  }
  .haircut {
    max-width: 740px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #FFF;
}
.footer img {
  width: 200px;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #FFF;
}

@media screen and (max-width: 900px) {
  .footer img {
    width: 150px;
  }
}
.btn-whats {
  position: fixed;
  bottom: 110px;
  right: 24px;
  z-index: 99;
}
.btn-whats img {
  max-width: 80px;
  transition: transform 0.4s;
}
.btn-whats img:hover {
  transform: scale(1.1);
}

.btn-whats .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  background-color: #222324;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.9s;
}

.btn-whats:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whats img {
    max-width: 64px;
  }
}
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding-left: 230px;
}
.feedback h2 {
  color: #06121e;
}

.feedbacks {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 50px 0px 34px 54px;
  padding-right: 0px;
}
.feedbacks img {
  width: 250px;
  border-radius: 22px;
  box-shadow: 0px -1px 80px -4px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 1120px) {
  .feedback {
    flex-direction: column;
  }
  .feedback H2 {
    margin-bottom: 100px;
    color: #FFF;
    padding-right: 230px;
  }
  .feedback .feedbacks {
    padding-right: 470px;
    width: 100%;
  }
  h2 {
    width: -200px;
  }
}
@media screen and (max-width: 768px) {
  .serviços {
    padding: 54px 14px;
  }
}
button {
  font-family: 100%;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #FFF;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #FFF;
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFF;
  background-color: transparent;
}

.header-button :hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

body {
  font-family: "sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

body {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 915px) {
  body {
    display: block;
    overflow-x: hidden;
    width: 100vw;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */